version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: meu_financeiro
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  backend:
    build: ./backend
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/meu_financeiro?schema=public
      - JWT_SECRET=dev_secret
      - PORT=4000
    depends_on:
      - db
    ports:
      - '4000:4000'

  web:
    build: ./web
    ports:
      - '5173:5173'
    depends_on:
      - backend

volumes:
  db_data:
